.nav-item .nav-link {
	color: var(--white-color);
}

#myNav {
	/* Your default navbar styles */
	transition: background-color 0.3s ease;
	/* Add a smooth transition effect */
}

#myNav.scrolled {
	background-color: #427D9D ;
	/* Change background color when scrolled */
	/* Additional styles for the scrolled navbar */
}

.nav-item .nav-link {
	color: var(--white-color);
}